#Tue Aug 07 11:03:11 EEST 2018
git.branch=master
git.build.host=MacBook-Pro-Doe.local
git.build.time=2018-08-07T11\:03\:11+0300
git.build.user.email=mymail@my.gmail.com
git.build.user.name=john-doe
git.build.version=1.0.1-SNAPSHOT
git.closest.tag.commit.count=4
git.closest.tag.name=1.0
git.commit.id=a94ff083ffd9f6285fd61abdcc85dd20ac83ca3e
git.commit.id.abbrev=a94ff08
git.commit.id.describe=1.0-4-ga94ff08
git.commit.id.describe-short=1.0-4
git.commit.message.full=FIX\: fix some dangerous bug
git.commit.message.short=FIX\: fix bug
git.commit.time=2018-07-13T12\:17\:14+0300
git.commit.user.email=john.doe@my.mail.com
git.commit.user.name=johndoe
git.dirty=false
git.remote.origin.url=git@github.com\:tcdl/my_awesome_service.git
git.tags=
